@import './card.less';

.meet-wrapper {
	.container {
		width: 1250px;
		margin: auto;
		background: rgba(0, 0, 0, 0.03);
		padding: 50px;
		width: 100%;
		box-sizing: border-box;
		.bg-detail-plus {
		    top: 30%;
    		z-index: -1;
    		right: 38%;
		}

		.bg-detail-stripes {
		        right: 23%;
			    top: 32%;
			    z-index: -1;
		}

		.bg-detail-dots {
		        top: 56%;
			    z-index: -1;
			    left: 14%;
		}
		.main-title-box {
		    width: 40%;
		    vertical-align: bottom;
		    text-align: right;
		    margin: 15px;
			.wrapper-title {
			    width: 250px;
			    height: 340px;
			    text-align: left;
			    display: inline-block;
			    font-family: "DCB";
				.main-title {
				    font-size: 60px;
				    text-transform: uppercase;
				    & > div:first-child {
					    margin-bottom: -15px;
					}
				}
				.bottom-text {
				    font-size: 20px;
				    margin-top: 30px;
				}

				.know-more {
				    background: #ffdac9;
				    text-transform: uppercase;
				    padding: 10px 10px 5px;
				    display: inline-block;
				    font-size: 19px;
				    cursor: pointer;
				}
			}	
		}
		.animate-box {
		    display: inline-block;
		    transition-duration: 1000ms;
		    transition-timing-function: ease;
		    opacity: 1;
		    &.down {
		        transform: translate(0px, 5000px);
		        opacity: 0;
		    }
		    &.up {
		        transform: translate(5000px, 0px);
		        opacity: 0;
		    }
		    &:nth-child(3n) {
		    	transition-delay: 100ms;
			}
			&:nth-child(4n) {
		    	transition-delay: 200ms;
			}
		}
	}
}